<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="SkyMonitorContext"
       connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=SkyMonitorDb;Integrated Security=True"
       providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes"
       xdt:Locator="Match(name)" />
  <system.web>
  </system.web>
</configuration>